@using Microsoft.AspNetCore.Identity
@using LMS.Core.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="hidden md:flex items-center space-x-4">
        <a asp-page="/Account/Manage/Index" class="text-gray-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">
            Hello @User.Identity?.Name!
        </a>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="text-gray-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Logout</button>
        </form>
    </div>
}
else
{
    <div class="hidden md:flex items-center space-x-4">
        <a asp-area="Identity" asp-page="/Account/Register" class="text-gray-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Register</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="bg-primary-600 text-white hover:bg-primary-700 px-4 py-2 rounded-md text-sm font-medium">Login</a>
    </div>
}